// указываем постоянные цвета

$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-extra-information: #B2B2B2;
$color-title: #545454;
$color-text: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-dark-title: #FFFFFF;

$content-width: 1280px;
$tablet-width: 1279px;
//$mobile-big-width: 414px;
$mobile-small-width: 767px;


//1280 768 320