// постоянные цвета

$color-button-text: #FFFFFF;
$color-button: #0D606F;
$color-caption: #F2785C;
$color-: #F8F8F8;
$color-search: #F2785C .5;
$color-search-form: rgba(255, 255, 255, 0.7);
$color-: #F2785C .7;

$max-tablet: 39rem;
$max-phone: 39rem;
$max-mob: 22rem;
$max-ham: 24.4rem;