.slider {
    width: 990px;
    height: 435px;
    overflow: hidden;

    @media (max-width:$tablet-width) {
        width: 580px;
    }

    @media (max-width:$mobile-small-width) {
        width: 270px;
    }
}

.friends__cats {
    position: relative;
    left: 0;
    //left: -990px;
}

@keyframes move-right {
    from {
        left: 0;
        //left: -990px;
    }

    to {
        left: -990px;

        //left: -1980px;
        @media (max-width:$tablet-width) {
            left: -580px;
        }

        @media (max-width:$mobile-small-width) {
            left: -270px;
        }
    }
}

.transition-right {
    animation-name: move-right;
    animation-duration: 3s;
}

@keyframes move-left {
    from {
        left: 0;
        //left: -990px;
    }

    to {
        left: 990px;

        //left: 0px;
        @media (max-width:$tablet-width) {
            left: 630px;
        }

        @media (max-width:$mobile-small-width) {
            left: 270px;
        }
    }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 3s;
}